/* Fouth Section Begining */
.container {
  width: 60rem;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}

.u-margintop-tiny {
  margin-top: 16px;
}

.u-margintop-small {
  margin-top: 30px;
}

.u-margintop-medium {
  margin-top: 64px;
}

.u-margintop-big {
  margin-top: 80px;
}

.u-marginright-small {
  margin-right: 26px;
}

.u-marginright-medium {
  margin-right: 30px;
}

.u-marginright-bottom {
  margin-bottom: 26px;
}

.color-white {
  color: #ffffff;
}

.text-info {
  font-size: 21.33px;
  line-height: 32px;
  letter-spacing: 0.5px;
}

.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fourth-section__top {
  width: 596px;
}
.header {
  font-weight: 800;
  font-size: 37.9px;

  color: #151e36;
}

.header-2 {
  font-weight: bold;
  font-size: 28.43px;
  line-height: 36px;

  color: #ffffff;
}

.fourth-section__btns {
  display: flex;
}

.btn {
  width: 252px;
  height: 65px;
  left: 311px;
  top: 147px;
}

.btn-primary {
  color: #fed06a;
  background: #151e36;
  font-weight: bold;
  font-size: 21.33px;
}

.btn-tertiary {
  color: #000000;
  background: #ffffff;

  font-weight: bold;
  font-size: 21.33px;

  border: 0.2px solid #0000001f;
  box-sizing: border-box;
}

.btn-signup {
  width: 371px;
  height: 65px;

  font-weight: bold;
  font-size: 21.33px;
  line-height: 27px;

  color: #fed06a;

  background: #151e36;
  border: 1px solid #fed06a;
  border-radius: 2px;
}

.fourth-section__vid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  width: 100%;
  background: url('../images/vid.svg') 0px 0px no-repeat;
  background-size: contain;
}

.fourth-section__vid-content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 400px;
  background: url('../images/staff.svg') no-repeat;
}

.fourth-section__vid-header {
  margin-top: 28px;
  margin-left: 33px;
}

.fourth-section__vid-circle {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);

  display: flex;
  width: 81.86px;
  height: 81px;
  background: rgba(131, 131, 131, 0.5);
  border-radius: 50%;
}

.fourth-section__updates {
  height: 240px;

  background: #151e36;
}

.fourth-section__updates-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fourth-section__updates-content p {
  font-size: 21.33px;
  line-height: 27px;
  text-align: center;

  color: #ebebeb;
}

.fourth-section__sicial {
  margin-top: 26px;
  margin-left: 31px;
}

.fourth-section__sicial-icons {
  height: 104px;
  width: 104px;
}

/* Fouth Section End */

/* Success Section Begining */

.section-sucsess__cards-container {
  display: flex;
  justify-content: space-evenly;
}

.section-sucsess__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  height: 354px;
  width: 246px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  background: #ffffff;
}

.section-seccess__cards-number {
  position: relative;
  font-weight: 800;
  font-size: 50px;
  line-height: 30px;
  /* or 60% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.section-seccess__cards-denomanator {
  position: absolute;
  right: -30px;
  bottom: -4px;
  font-size: 25px;
}
